<center>
   <h1><%= I18n.t("menu_main.index.title") %></h1>
</center>
<p class="more-info"><%= I18n.t("general.updated_at", :date => "07/11/2013") %></p>
<h3><%= I18n.t("general.index") %></h3>


<!--Indice -->
<div class="metro-surface">
   <center>
	   <table>
		  <tr>
			 <td>
				<a href="#menu_main_inner">
				   <div class="metro-tile"><%= I18n.t("menu_main.index.table_of_contents.menu_main") %></div>
				</a>
			 </td>
			 <td>
				<a href="#menu_main_main_inner">
				   <div class="metro-tile "><%= I18n.t("menu_main.index.table_of_contents.menu_main_main") %></div>
				</a>
			 </td>
			 <td>
				<a href="#menu_main_new_document_inner">
				   <div class="metro-tile "><%= I18n.t("menu_main.index.table_of_contents.menu_main_new_document") %></div>
				</a>
			 </td>		 
			 <td>
				<a href="">
				   <div class="metro-tile metro-tile-small "></div>
				</a>
			 </td>
		  </tr>
	   </table>
	   <table>
      <tr>
         <td>
            <a href="#menu_main_search_document_inner">
               <div class="metro-tile "><%= I18n.t("menu_main.index.table_of_contents.menu_main_search_document") %></div>
            </a>
         </td>
         <td>
            <a href="#menu_main_config_inner">
               <div class="metro-tile  "><%= I18n.t("menu_main.index.table_of_contents.menu_main_config") %></div>
            </a>
         </td>
         <td>
            <a href="#menu_main_logs_inner">
               <div class="metro-tile metro-tile-small "><%= I18n.t("menu_main.index.table_of_contents.menu_main_logs") %></div>
            </a>
         </td>
         <td>
            <a href="#menu_main_expired_documents_inner">
               <div class="metro-tile "><%= I18n.t("menu_main.index.table_of_contents.menu_main_expired_documents") %></div>
            </a>
         </td>
      </tr>
   </table>
   </center>
</div>


<!--Menu Principal -->
<div id ="menu_main" > &nbsp </div>
<h2 id="menu_main_inner"><%= I18n.t("menu_main.index.table_of_contents.menu_main") %></h2>
<div class="row-fluid">
   <p style="text-indent: 3em; text-align: justify;"> <%= I18n.t("menu_main.index.menu_main.item_1") %></p>
   <center><img src="/img/menu_main/menu_main.png"  /></center>
   <p align="right" style="font-weight:bold;"><%= I18n.t("menu_main.index.menu_main.item_2") %></p>
</div>



<!--Principal-->
<div id ="menu_main_main" > &nbsp </div>
<h2 id="menu_main_main_inner"><%= I18n.t("menu_main.index.table_of_contents.menu_main_main") %></h2>
<div class="row-fluid">
   <p style="text-indent: 3em; text-align: justify;"> <%= I18n.t("menu_main.index.menu_main_main.item_1") %></p>
   <center><img src="/img/menu_main/menu_main_dashboard.png" /></center>
   <p align="right" style="font-weight:bold;"><%= I18n.t("menu_main.index.menu_main_main.item_2") %></p>
   <div class="metro-surface">
	   <center>
		   <table>
			  <tr>
				 <td>
					<a href="understanding_the_system#menu_main_main">
						<div class="metro-tile-fluxo  metro-tile-teal"><%= I18n.t("menu_main.index.menu_main_main.item_3") %></div>
					</a>
				 </td>
			  </tr>
		   </table>
		</center>
	</div>
</div>



<!-- Novo Documento-->
<div id ="menu_main_new_document" > &nbsp </div>
<h2 id="menu_main_new_document_inner"><%= I18n.t("menu_main.index.table_of_contents.menu_main_new_document") %></h2>
<div class="row-fluid">
   <p style="text-indent: 3em; text-align: justify;"> <%= I18n.t("menu_main.index.menu_main_new_document.item_1") %></p>
   <center><img src="/img/menu_main/menu_main_solicitar.png" /></center>
   <p align="right" style="font-weight:bold;"><%= I18n.t("menu_main.index.menu_main_new_document.item_2") %></p>
   <div class="metro-surface">
	   <center>
		   <table>
			  <tr>
				 <td>
					<a href="solicitar_opme#index">
						<div class="metro-tile-fluxo   metro-tile-teal"><%= I18n.t("menu_main.index.menu_main_new_document.item_3") %></div>
					</a>
				 </td>
			  </tr>
		   </table>
		</center>
	</div>
</div>

<!-- Localizar Documentos -->
<div id ="menu_main_search_document" > &nbsp </div>
<h2 id="menu_main_search_document_inner"><%= I18n.t("menu_main.index.table_of_contents.menu_main_search_document") %></h2>
<div class="row-fluid">
   <center><img src="/img/menu_main/menu_main_search_document.png" /></center>
   <p align="right" style="font-weight:bold;"><%= I18n.t("menu_main.index.menu_main_search_document.item_11") %></p>
   <p style="text-indent: 3em; text-align: justify;"> <%= I18n.t("menu_main.index.menu_main_search_document.item_1") %></p>

</div>


<!-- Configurações -->
<div id ="menu_main_config" > &nbsp </div>
<h2 id="menu_main_config_inner"><%= I18n.t("menu_main.index.table_of_contents.menu_main_config") %></h2>
<div class="row-fluid">
   <center><img src="/img/menu_main/menu_main_config.png" /></center>
   <p align="right" style="font-weight:bold;"><%= I18n.t("menu_main.index.menu_main_config.item_6") %></p>
   <p style="text-indent: 3em; text-align: justify;"> <%= I18n.t("menu_main.index.menu_main_config.item_1") %></p>
 </div>


<!-- Logs -->
<div id ="menu_main_logs" > &nbsp </div>
<h2 id="menu_main_logs_inner"><%= I18n.t("menu_main.index.table_of_contents.menu_main_logs") %></h2>
<div class="row-fluid">
   <center><img src="/img/menu_main/menu_main_logs.png" /></center>
   <p align="right" style="font-weight:bold;"><%= I18n.t("menu_main.index.menu_main_logs.item_10") %></p>
   <p style="text-indent: 3em; text-align: justify;"> <%= I18n.t("menu_main.index.menu_main_logs.item_1") %></p>	
</div>



<!-- Documentos Expirados -->
<div id ="menu_main_expired_documents" > &nbsp </div>
<h2 id="menu_main_expired_documents_inner"><%= I18n.t("menu_main.index.table_of_contents.menu_main_expired_documents") %></h2>
<div class="row-fluid">
   <center><img src="/img/menu_main/menu_main_expired_documents.png" /></center>
   <p align="right" style="font-weight:bold;"><%= I18n.t("menu_main.index.menu_main_expired_documents.item_10") %></p>
   <p style="text-indent: 3em; text-align: justify;"> <%= I18n.t("menu_main.index.menu_main_expired_documents.item_1") %></p>	
</div>



<!--Botões -->
<ul class="pager">
   <li class="previous"><%= link_to("&larr; " + I18n.t("understanding_the_system.index.title"), "understanding_the_system") %></li>
   <li class="next"><%= link_to(I18n.t("acoes_disponiveis.index.title") + " &rarr;", "acoes_disponiveis") %></li>
</ul>