<center>
    <h1><%= I18n.t("menu_main.index.title") %></h1>
</center>
<p class="more-info"><%= I18n.t("general.updated_at", :date => "27/07/2015") %></p>
<h3><%= I18n.t("general.index") %></h3>


<!--Indice -->
<div class="metro-surface">
    <center>
        <table>
            <tr>
                <td>
                    <a href="#inner">
                        <div class="metro-tile"><%= I18n.t("menu_main.index.table_of_contents.menu_main") %></div>
                    </a>
                </td>	 
                <td>
                    <a>
                        <div class="metro-tile metro-tile-small "></div>
                    </a>
                </td>
                <td>
                    <a href="#main_inner">
                        <div class="metro-tile "><%= I18n.t("menu_main.index.table_of_contents.main") %></div>
                    </a>
                </td>
                <td>
                    <a href="#new_document_inner">
                        <div class="metro-tile "><%= I18n.t("menu_main.index.table_of_contents.new_document") %></div>
                    </a>
                </td>	
            </tr>
        </table>
        <table>
            <tr>
                <td>
                    <a href="#search_document_inner">
                        <div class="metro-tile "><%= I18n.t("menu_main.index.table_of_contents.search_document") %></div>
                    </a>
                </td>
                <td>
                    <a href="#config_inner">
                        <div class="metro-tile  "><%= I18n.t("menu_main.index.table_of_contents.config") %></div>
                    </a>
                </td>
                <td>
                    <a href="#logs_inner">
                        <div class="metro-tile metro-tile-small "><%= I18n.t("menu_main.index.table_of_contents.logs") %></div>
                    </a>
                </td>
                <td>
                    <a href="#expired_documents_inner">
                        <div class="metro-tile "><%= I18n.t("menu_main.index.table_of_contents.expired_documents") %></div>
                    </a>
                </td>
            </tr>
        </table>
    </center>
</div>


<!--Menu Principal -->
<div id ="menu_main" > &nbsp </div>
<h2 id="menu_main_inner"><%= I18n.t("menu_main.index.table_of_contents.menu_main") %></h2>
<div class="row-fluid">
    <p style="text-indent: 3em; text-align: justify;"> <%= I18n.t("menu_main.index.menu_main.item_1") %></p>
    <center><img width:"95%" src="/img/menuprincipal/principal2.jpg"/></center>
    <p align="right" style="font-weight:bold;"><%= I18n.t("menu_main.index.menu_main.item_2") %></p>
    <p style="text-indent: 3em; text-align: justify;"> <%= I18n.t("menu_main.index.menu_main.item_3") %></p>
</div>



<!--Principal-->
<div id ="main" > &nbsp </div>
<h2 id="main_inner"><%= I18n.t("menu_main.index.table_of_contents.main") %></h2>
<div class="row-fluid">
    <center><img src="/img/menuprincipal/prin.jpg" /></center>
    <p align="right" style="font-weight:bold;"><%= I18n.t("menu_main.index.main.item_1") %></p>
    <div class="metro-surface">
        <center>
            <table>
                <tr>
                    <td>
                        <a href="principal#principal">
                            <div class="metro-tile-fluxo  metro-tile-teal"><%= I18n.t("menu_main.index.table_of_contents.main") %></div>
                        </a>
                    </td>
                </tr>
            </table>
        </center>
    </div>
</div>



<!-- Novo Documento-->
<div id ="new_document" > &nbsp </div>
<h2 id="new_document_inner"><%= I18n.t("menu_main.index.table_of_contents.new_document") %></h2>
<div class="row-fluid">
    <center><img src="/img/menuprincipal/newdoc.jpg" /></center>
    <p align="right" style="font-weight:bold;"><%= I18n.t("menu_main.index.new_document.item_1") %></p>
    <div class="metro-surface">
        <center>
            <table>
                <tr>
                    <td>
                        <a href="new_document#new_document">
                            <div class="metro-tile-fluxo   metro-tile-teal"><%= I18n.t("menu_main.index.table_of_contents.new_document") %></div>
                        </a>
                    </td>
                </tr>
            </table>
        </center>
    </div>
</div>

<!-- Localizar Documentos -->
<div id ="search_document" > &nbsp </div>
<h2 id="search_document_inner"><%= I18n.t("menu_main.index.table_of_contents.search_document") %></h2>
<div class="row-fluid">
    <center><img src="/img/menuprincipal/locadoc.jpg"/></center>
    <p align="right" style="font-weight:bold;"><%= I18n.t("menu_main.index.search_document.item_1") %></p>
    <div class="metro-surface">
        <center>
            <table>
                <tr>
                    <td>
                        <a href="search_document#search_document">
                            <div class="metro-tile-fluxo   metro-tile-teal"><%= I18n.t("menu_main.index.table_of_contents.search_document") %></div>
                        </a>
                    </td>
                </tr>
            </table>
        </center>
    </div>
</div>


<!-- Configurações -->
<div id ="config" > &nbsp </div>
<h2 id="config_inner"><%= I18n.t("menu_main.index.table_of_contents.config") %></h2>
<div class="row-fluid">
    <center><img src="/img/menuprincipal/config.jpg" /></center>
    <p align="right" style="font-weight:bold;"><%= I18n.t("menu_main.index.config.item_1") %></p>
    <div class="metro-surface">
        <center>
            <table>
                <tr>
                    <td>
                        <a href="config#config">
                            <div class="metro-tile-fluxo   metro-tile-teal"><%= I18n.t("menu_main.index.table_of_contents.config") %></div>
                        </a>
                    </td>
                </tr>
            </table>
        </center>
    </div>
</div>


<!-- Logs -->
<div id ="logs" > &nbsp </div>
<h2 id="logs_inner"><%= I18n.t("menu_main.index.table_of_contents.logs") %></h2>
<div class="row-fluid">
    <center><img src="/img/menuprincipal/logs.jpg" /></center>
    <p align="right" style="font-weight:bold;"><%= I18n.t("menu_main.index.table_of_contents.logs") %></p>
    <div class="metro-surface">
        <center>
            <table>
                <tr>
                    <td>
                        <a href="logs#log">
                            <div class="metro-tile-fluxo   metro-tile-teal"><%= I18n.t("menu_main.index.table_of_contents.logs") %></div>
                        </a>
                    </td>
                </tr>
            </table>
        </center>
    </div>
</div>



<!-- Documentos Expirados -->
<div id ="expired_documents" > &nbsp </div>
<h2 id="expired_documents_inner"><%= I18n.t("menu_main.index.table_of_contents.expired_documents") %></h2>
<div class="row-fluid">
    <center><img src="/img/menuprincipal/expiradoc.jpg" /></center>
    <p align="right" style="font-weight:bold;"><%= I18n.t("menu_main.index.expired_documents.item_1") %></p>
    <div class="metro-surface">
        <center>
            <table>
                <tr>
                    <td>
                        <a href="expired_documents#expired_documents">
                            <div class="metro-tile-fluxo   metro-tile-teal"><%= I18n.t("menu_main.index.table_of_contents.expired_documents") %></div>
                        </a>
                    </td>
                </tr>
            </table>
        </center>
    </div>	
</div>



<!--Botões -->
<ul class="pager">
    <li class="previous"><%= link_to("&larr; " + I18n.t("understanding_the_system.index.title"), "understanding_the_system") %></li>
    <li class="next"><%= link_to(I18n.t("principal.index.title") + " &rarr;", "principal") %></li>
</ul>