<center>
   <h1><%= I18n.t("config.index.title") %></h1>
</center>
<p class="more-info"><%= I18n.t("general.updated_at", :date => "07/11/2013") %></p>
<h3><%= I18n.t("general.index") %></h3>


<!--Indice -->
<div class="metro-surface">
	<center>
		<table>
			<tr>
				<td>
					<a href="#config_inner">
						<div class="metro-tile "><%= I18n.t("config.index.table_of_contents.config") %></div>
					</a>
				</td>	 
				<td>
					<a href="#models_inner">
						<div class="metro-tile metro-tile-small"><%= I18n.t("config.index.table_of_contents.models") %></div>
				    </a>
				</td>
				<td>
					<a href="#types_inner">
						<div class="metro-tile metro-tile-small"><%= I18n.t("config.index.table_of_contents.types") %></div>
				    </a>
				</td>
				<td>
					<a href="#groups_inner">
						<div class="metro-tile "><%= I18n.t("config.index.table_of_contents.groups") %></div>
					</a>
				</td>	
			</tr>
		</table>
		<table>
			<tr>
				<td>
					<a href="#">
						<div class="metro-tile metro-tile-small"></div>
				    </a>
				</td> 
				<td>
					<a href="#departaments_inner">
						<div class="metro-tile "><%= I18n.t("config.index.table_of_contents.departaments") %></div>
					</a>
				</td>	
				<td>
					<a href="#providers_inner">
						<div class="metro-tile metro-tile-small"><%= I18n.t("config.index.table_of_contents.providers") %></div>
				    </a>
				</td>
				<td>
					<a href="#webservices_inner">
						<div class="metro-tile "><%= I18n.t("config.index.table_of_contents.webservices") %></div>
					</a>
				</td>	
			</tr>
		</table>
	</center>
</div>


<!-- config -->
<div id ="config" > &nbsp </div>
<h2 id="config_inner"><%= I18n.t("config.index.config.item_1") %></h2>
<div class="row-fluid">
   <p style="text-indent: 3em; text-align: justify;"> <%= I18n.t("config.index.config.item_2") %></p>
   <center><img src="/img/config/"  /></center>
   <p align="right" style="font-weight:bold;font-size:small;margin-right:2cm;"><%= I18n.t("config.index.config.item_3") %></p>
</div>
<br/><br/><br/><br/>
		
		
<!-- models -->
<div id ="models" > &nbsp </div>
<h2 id="models_inner"><%= I18n.t("config.index.models.item_1") %></h2>
<div class="row-fluid">
   <p style="text-indent: 3em; text-align: justify;"> <%= I18n.t("config.index.models.item_2") %></p>
   <center><img src="/img/models/"  /></center>
   <p align="right" style="font-weight:bold;font-size:small;margin-right:2cm;"><%= I18n.t("config.index.models.item_3") %></p>
</div>
<br/><br/><br/><br/>
		
		
<!-- types -->
<div id ="types" > &nbsp </div>
<h2 id="types_inner"><%= I18n.t("config.index.types.item_1") %></h2>
<div class="row-fluid">
   <p style="text-indent: 3em; text-align: justify;"> <%= I18n.t("config.index.types.item_2") %></p>
   <center><img src="/img/types/"  /></center>
   <p align="right" style="font-weight:bold;font-size:small;margin-right:2cm;"><%= I18n.t("config.index.types.item_3") %></p>
</div>
<br/><br/><br/><br/>
		
		
<!-- groups -->
<div id ="groups" > &nbsp </div>
<h2 id="groups_inner"><%= I18n.t("config.index.groups.item_1") %></h2>
<div class="row-fluid">
   <p style="text-indent: 3em; text-align: justify;"> <%= I18n.t("config.index.groups.item_2") %></p>
   <center><img src="/img/groups/"  /></center>
   <p align="right" style="font-weight:bold;font-size:small;margin-right:2cm;"><%= I18n.t("config.index.groups.item_3") %></p>
</div>
<br/><br/><br/><br/>
		
		
<!-- departaments -->
<div id ="departaments" > &nbsp </div>
<h2 id="departaments_inner"><%= I18n.t("config.index.departaments.item_1") %></h2>
<div class="row-fluid">
   <p style="text-indent: 3em; text-align: justify;"> <%= I18n.t("config.index.departaments.item_2") %></p>
   <center><img src="/img/departaments/"  /></center>
   <p align="right" style="font-weight:bold;font-size:small;margin-right:2cm;"><%= I18n.t("config.index.departaments.item_3") %></p>
</div>
<br/><br/><br/><br/>
		
		
<!-- providers -->
<div id ="providers" > &nbsp </div>
<h2 id="providers_inner"><%= I18n.t("config.index.providers.item_1") %></h2>
<div class="row-fluid">
   <p style="text-indent: 3em; text-align: justify;"> <%= I18n.t("config.index.providers.item_2") %></p>
   <center><img src="/img/providers/"  /></center>
   <p align="right" style="font-weight:bold;font-size:small;margin-right:2cm;"><%= I18n.t("config.index.providers.item_3") %></p>
</div>
<br/><br/><br/><br/>
		
		
<!-- webservices -->
<div id ="webservices" > &nbsp </div>
<h2 id="webservices_inner"><%= I18n.t("config.index.webservices.item_1") %></h2>
<div class="row-fluid">
   <p style="text-indent: 3em; text-align: justify;"> <%= I18n.t("config.index.webservices.item_2") %></p>
   <center><img src="/img/webservices/"  /></center>
   <p align="right" style="font-weight:bold;font-size:small;margin-right:2cm;"><%= I18n.t("config.index.webservices.item_3") %></p>
</div>
<br/><br/><br/><br/>


<!--Botões -->
<ul class="pager">
   <li class="previous"><%= link_to("&larr; " + I18n.t("search_document.index.title"), "search_document") %></li>
   <li class="next"><%= link_to(I18n.t("logs.index.title") + " &rarr;", "logs") %></li>
</ul>