<center>
   <h1><%= I18n.t("new_document.index.title") %></h1>
</center>
<p class="more-info"><%= I18n.t("general.updated_at", :date => "07/11/2013") %></p>
<h3><%= I18n.t("general.index") %></h3>


<!--Indice -->
<div class="metro-surface">
	<center>
		<table>
			<tr>
				<td>
					<a href="#new_document_inner">
						<div class="metro-tile "><%= I18n.t("new_document.index.table_of_contents.new_document") %></div>
					</a>
				</td>	 
				<td>
					<a href="#step1_inner">
						<div class="metro-tile metro-tile-small"><%= I18n.t("new_document.index.table_of_contents.step1") %></div>
				    </a>
				</td>
				<td>
					<a href="#step2_inner">
						<div class="metro-tile metro-tile-small"><%= I18n.t("new_document.index.table_of_contents.step2") %></div>
				    </a>
				</td>
				<td>
					<a href="#step3_inner">
						<div class="metro-tile "><%= I18n.t("new_document.index.table_of_contents.step3") %></div>
					</a>
				</td>	
			</tr>
		</table>
	    <table>
			<tr>
				<td>
					<a href="#">
						<div class="metro-tile metro-tile-small"></div>
					</a>
				</td>
				<td>
					<a href="#step4_inner">
						<div class="metro-tile "><%= I18n.t("new_document.index.table_of_contents.step4") %></div>
					</a>
				</td>
				<td>
					<a href="#step5_inner">
						<div class="metro-tile  "><%= I18n.t("new_document.index.table_of_contents.step5") %></div>
					</a>
				</td>
				<td>
					<a href="#step6_inner">
						<div class="metro-tile metro-tile-small"><%= I18n.t("new_document.index.table_of_contents.step6") %></div>
					</a>
				</td>
			</tr>
		</table>
	</center>
</div>


<!-- new_document -->
<div id ="new_document" > &nbsp </div>
<h2 id="new_document_inner"><%= I18n.t("new_document.index.table_of_contents.new_document") %></h2>
<div class="row-fluid">
   <center><img src="/img/new_document/"  /></center>
   <p align="right" style="font-weight:bold;font-size:small;margin-right:2cm;"><%= I18n.t("new_document.index.new_document.item_1") %></p>
   <br/><br/>
   <p style="text-indent: 3em; text-align: justify;"> <%= I18n.t("new_document.index.new_document.item_2") %></p>
</div>
<br/><br/><br/><br/>


<!-- step1 -->
<div id ="step1" > &nbsp </div>
<h2 id="step1_inner"><%= I18n.t("new_document.index.step1.item_2") %></h2>
<div class="row-fluid">
   <p style="text-indent: 3em; text-align: justify;"> <%= I18n.t("new_document.index.step1.item_1") %></p>
   <center><img src="/img/new_document/"  /></center>
   <p align="right" style="font-weight:bold;font-size:small;margin-right:2cm;"><%= I18n.t("new_document.index.step1.item_2") %></p>
</div>
<br/><br/><br/><br/>


<!-- step2 -->
<div id ="step2" > &nbsp </div>
<h2 id="step2_inner"><%= I18n.t("new_document.index.step2.item_2") %></h2>
<div class="row-fluid">
   <p style="text-indent: 3em; text-align: justify;"> <%= I18n.t("new_document.index.step2.item_1") %></p>
   <center><img src="/img/new_document/"  /></center>
   <p align="right" style="font-weight:bold;font-size:small;margin-right:2cm;"><%= I18n.t("new_document.index.step2.item_2") %></p>
</div>
<br/><br/><br/><br/>


<!-- step3 -->
<div id ="step3" > &nbsp </div>
<h2 id="step3_inner"><%= I18n.t("new_document.index.step3.item_2") %></h2>
<div class="row-fluid">
   <p style="text-indent: 3em; text-align: justify;"> <%= I18n.t("new_document.index.step3.item_1") %></p>
   <center><img src="/img/new_document/"  /></center>
   <p align="right" style="font-weight:bold;font-size:small;margin-right:2cm;"><%= I18n.t("new_document.index.step3.item_2") %></p>
</div>
<br/><br/><br/><br/>


<!-- step4 -->
<div id ="step4" > &nbsp </div>
<h2 id="step4_inner"><%= I18n.t("new_document.index.step4.item_2") %></h2>
<div class="row-fluid">
   <p style="text-indent: 3em; text-align: justify;"> <%= I18n.t("new_document.index.step4.item_1") %></p>
   <center><img src="/img/new_document/"  /></center>
   <p align="right" style="font-weight:bold;font-size:small;margin-right:2cm;"><%= I18n.t("new_document.index.step4.item_2") %></p>
</div>
<br/><br/><br/><br/>


<!-- step5 -->
<div id ="step5" > &nbsp </div>
<h2 id="step5_inner"><%= I18n.t("new_document.index.step5.item_2") %></h2>
<div class="row-fluid">
   <p style="text-indent: 3em; text-align: justify;"> <%= I18n.t("new_document.index.step5.item_1") %></p>
   <center><img src="/img/new_document/"  /></center>
   <p align="right" style="font-weight:bold;font-size:small;margin-right:2cm;"><%= I18n.t("new_document.index.step5.item_2") %></p>
</div>
<br/><br/><br/><br/>


<!-- step6 -->
<div id ="step1" > &nbsp </div>
<h2 id="step6_inner"><%= I18n.t("new_document.index.step6.item_2") %></h2>
<div class="row-fluid">
   <p style="text-indent: 3em; text-align: justify;"> <%= I18n.t("new_document.index.step6.item_1") %></p>
   <center><img src="/img/new_document/"  /></center>
   <p align="right" style="font-weight:bold;font-size:small;margin-right:2cm;"><%= I18n.t("new_document.index.step6.item_2") %></p>
   <p style="text-indent: 3em; text-align: justify;"> <%= I18n.t("new_document.index.step6.item_3") %></p>
</div>
<br/><br/><br/><br/>


<!--Botões -->
<ul class="pager">
   <li class="previous"><%= link_to("&larr; " + I18n.t("principal.index.title"), "principal") %></li>
   <li class="next"><%= link_to(I18n.t("new_document_ged.index.title") + " &rarr;", "new_document_ged") %></li>
</ul>