<center>
   <h1><%= I18n.t("search_document.index.title") %></h1>
</center>
<p class="more-info"><%= I18n.t("general.updated_at", :date => "07/11/2013") %></p>
<h3><%= I18n.t("general.index") %></h3>


<!--Indice -->
<div class="metro-surface">
	<center>
		<table>
			<tr>
				<td>
					<a href="#about_inner">
						<div class="metro-tile "><%= I18n.t("quickindex.index.table_of_contents.about") %></div>
					</a>
				</td>
				<td>
					<a href="#config_inner">
						<div class="metro-tile metro-tile-small"><%= I18n.t("quickindex.index.table_of_contents.config") %></div>
				    </a>
				</td>
				<td>
					<a href="#contas_inner">
						<div class="metro-tile metro-tile-small"><%= I18n.t("quickindex.index.table_of_contents.contas") %></div>
				    </a>
				</td>
                <td>
					<a href="#smart_inner">
						<div class="metro-tile metro-tile-small"><%= I18n.t("quickindex.index.table_of_contents.smart") %></div>
				    </a>
				</td>
			</tr>
		</table>
	</center>
</div>



<!--Botões -->
<ul class="pager">
   <li class="previous"><%= link_to("&larr; " + I18n.t("new_document.index.title"), "new_document") %></li>
   <li class="next"><%= link_to(I18n.t("config.index.title") + " &rarr;", "config") %></li>
</ul>