<center>
   <h1><%= I18n.t("search_document.index.title") %></h1>
</center>
<p class="more-info"><%= I18n.t("general.updated_at", :date => "07/11/2013") %></p>
<h3><%= I18n.t("general.index") %></h3>


<!--Indice -->
<div class="metro-surface">
	<center>
		<table>
			<tr>
				<td>
					<a href="#search_document_inner">
						<div class="metro-tile "><%= I18n.t("search_document.index.table_of_contents.search_document") %></div>
					</a>
				</td>
				<td>
					<a href="#default_inner">
						<div class="metro-tile metro-tile-small"><%= I18n.t("search_document.index.table_of_contents.default") %></div>
				    </a>
				</td>
				<td>
					<a href="#custom_inner">
						<div class="metro-tile metro-tile-small"><%= I18n.t("search_document.index.table_of_contents.custom") %></div>
				    </a>
				</td>
			</tr>
		</table>
	</center>
</div>


<!--QUICK INDEX -->
<div id ="menu_main" > &nbsp </div>
<h2 id="menu_main_inner"><%= I18n.t("quickindex.index.table_of_contents.quickindex") %></h2>
<div class="row-fluid">
    <p style="text-indent: 3em; text-align: justify;"> <%= I18n.t("quickindex.index.quickindex.item_1") %></p>
    <center><img width:"95%" src="/img/menuprincipal/principal2.jpg"/></center>
    <p align="right" style="font-weight:bold;"><%= I18n.t("quickindex.index.quickindex.item_2") %></p>
    <p style="text-indent: 3em; text-align: justify;"> <%= I18n.t("quickindex.index.quickindex.item_3") %></p>
</div>

<!--ABAAAOUT -->
<div id ="menu_main" > &nbsp </div>
<h2 id="menu_main_inner"><%= I18n.t("quickindex.index.table_of_contents.about") %></h2>
<div class="row-fluid">
    <p style="text-indent: 3em; text-align: justify;"> <%= I18n.t("quickindex.index.about.item_1") %></p>
    <center><img width:"95%" src="/img/menuprincipal/principal2.jpg"/></center>
    <p align="right" style="font-weight:bold;"><%= I18n.t("quickindex.index.about.item_2") %></p>
    <p style="text-indent: 3em; text-align: justify;"> <%= I18n.t("quickindex.index.about.item_3") %></p>
</div>


<!--Botões -->
<ul class="pager">
   <li class="previous"><%= link_to("&larr; " + I18n.t("new_document.index.title"), "new_document") %></li>
   <li class="next"><%= link_to(I18n.t("config.index.title") + " &rarr;", "config") %></li>
</ul>