<div>

   <!-- GedWeb --> 
   <div class="accordion-group">
      <div class="accordion-heading">
         <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne" onclick="location.href = 'gedweb'">GedWeb</a>
      </div>
      <div id="collapseOne" class="accordion-body collapse <%=is_group_active?("gedweb") %>">
         <div class="accordion-inner">
            <ul>
               <li><a href="#"><%= link_to(I18n.t("gedweb.index.table_of_contents.how_it_works"), "gedweb#how_it_works_inner") %></a></li>
               <li><a href="#"><%= link_to(I18n.t("gedweb.index.table_of_contents.features_yield"), "gedweb#features_yield_inner") %></a></li>
               <li><a href="#"><%= link_to(I18n.t("gedweb.index.table_of_contents.who_uses"), "gedweb#who_uses_inner") %></a></li>
            </ul>
         </div>
      </div>
   </div>
   
   <!-- Entendendo o Sistema -->
   <div class="accordion-group">
      <div class="accordion-heading">
         <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo" onclick="location.href = 'understanding_the_system'">Entendendo o Sistema</a>
      </div>
      <div id="collapseTwo" class="accordion-body collapse <%=is_group_active?("understanding_the_system") %>">
         <div class="accordion-inner">
            <ul>
               <li><a href="#"><%= link_to(I18n.t("understanding_the_system.index.table_of_contents.welcome"), "understanding_the_system#welcome_inner") %></a></li>
               <li><a href="#"><%= link_to(I18n.t("understanding_the_system.index.table_of_contents.flow"), "understanding_the_system#flow_inner") %></a></li>
            </ul>
         </div>
      </div>
   </div>
   
   <!-- Menu Principal -->
   <div class="accordion-group">
      <div class="accordion-heading">
         <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree" onclick="location.href = 'menu_main'"> Menu Principal</a>
      </div>
      <div id="collapseThree" class="accordion-body collapse <%=is_group_active?("menu_main") %>">
         <div class="accordion-inner">
            <ul>
               <li><a href="#"><%= link_to(I18n.t("menu_main.index.table_of_contents.menu_main"), "menu_main#menu_main_inner") %></a></li>
               <li><a href="#"><%= link_to(I18n.t("menu_main.index.table_of_contents.menu_main_main"), "menu_main#menu_main_main_inner") %></a></li>
               <li><a href="#"><%= link_to(I18n.t("menu_main.index.table_of_contents.menu_main_new_document"), "menu_main#menu_main_new_document_inner") %></a></li>
               <li><a href="#"><%= link_to(I18n.t("menu_main.index.table_of_contents.menu_main_search_document"), "menu_main#menu_main_search_document_inner") %></a></li>
               <li><a href="#"><%= link_to(I18n.t("menu_main.index.table_of_contents.menu_main_config"), "menu_main#menu_main_config_inner") %></a></li>
               <li><a href="#"><%= link_to(I18n.t("menu_main.index.table_of_contents.menu_main_logs"), "menu_main#menu_main_logs_inner") %></a></li>
               <li><a href="#"><%= link_to(I18n.t("menu_main.index.table_of_contents.menu_main_expired_documents"), "menu_main#menu_main_expired_documents_inner") %></a></li>
            </ul>
         </div>
      </div>
   </div>
   
   <!-- Principal/Mural -->
   <div class="accordion-group">
      <div class="accordion-heading">
         <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFour"  onclick="location.href = 'acoes_disponiveis'"> Principal</a>
      </div>
      <div id="collapseFour" class="accordion-body collapse <%=is_group_active?("principal") %>">
         <div class="accordion-inner">
            <ul>
               <li><a href="#"><%= link_to(I18n.t("principal.index.table_of_contents.agendar_fornecedor"), "principal#agendar_fornecedor_inner") %></a></li>
               <li><a href="#"><%= link_to(I18n.t("principal.index.table_of_contents.enviar_faturamento"), "principal#enviar_faturamento_inner") %></a></li>
               <li><a href="#"><%= link_to(I18n.t("principal.index.table_of_contents.confirmar_faturamento"), "principal#confirmar_faturamento_inner") %></a></li>
               <li><a href="#"><%= link_to(I18n.t("principal.index.table_of_contents.cancelar_orcamento"), "principal#cancelar_orcamento_inner") %></a></li>
            </ul>
         </div>
      </div>
   </div>
   
   <!-- Novo Documento -->
   <div class="accordion-group">
      <div class="accordion-heading">
         <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFive"  onclick="location.href = 'solicitar_opme'"> Novo Documento</a>
      </div>
      <div id="collapseFour" class="accordion-body collapse <%=is_group_active?("novo_documento") %>">
         <div class="accordion-inner">
            <ul>
               <li><a href="#solicitar_opme"><%= link_to(I18n.t("novo_documento.index.table_of_contents.novo_documento"), "novo_documento#solicitar_opme_inner") %></a></li>
            </ul>
         </div>
      </div>
   </div>
   
   <!-- Localizar Documentos -->
   <div class="accordion-group">
      <div class="accordion-heading">
         <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseSix"  onclick="location.href = 'orcamentos'"> Localizar Documentos</a>
      </div>
      <div id="collapseFive" class="accordion-body collapse <%=is_group_active?("localizar_documentos") %>">
         <div class="accordion-inner">
            <ul>
               <li><a href="#"><%= link_to(I18n.t("localizar_documentos.index.table_of_contents.localizar"), "localizar_documentos#localizar_inner") %></a></li>
               <li><a href="#"><%= link_to(I18n.t("localizar_documentos.index.table_of_contents.faturados"), "localizar_documentos#faturados_inner") %></a></li>
               <li><a href="#"><%= link_to(I18n.t("localizar_documentos.index.table_of_contents.notas_fiscais"), "localizar_documentos#notas_fiscais_inner") %></a></li>
            </ul>
         </div>
      </div>
   </div>
   
   <!-- Configurações -->
   <div class="accordion-group">
      <div class="accordion-heading">
         <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseEight"  onclick="location.href = 'configuracoes'"> Configurações</a>
      </div>
      <div id="collapseSeven" class="accordion-body collapse <%=is_group_active?("configuracoes") %>">
         <div class="accordion-inner">
            <ul>
               <li><a href="#"><%= link_to(I18n.t("configuracoes.index.table_of_contents.meus_dados"), "configuracoes#meus_dados_inner") %></a></li>
               <li><a href="#"><%= link_to(I18n.t("configuracoes.index.table_of_contents.lista_produtos"), "configuracoes#lista_produtos_inner") %></a></li>
               <li><a href="#"><%= link_to(I18n.t("configuracoes.index.table_of_contents.convidar_fornecedor"), "configuracoes#convidar_fornecedor_inner") %></a></li>
               <li><a href="#"><%= link_to(I18n.t("configuracoes.index.table_of_contents.cadastro_local_atendimento"), "configuracoes#cadastro_local_atendimento_inner") %></a></li>
               <li><a href="#"><%= link_to(I18n.t("configuracoes.index.table_of_contents.cadastro_prestador"), "configuracoes#cadastro_prestador_inner") %></a></li>
               <li><a href="#"><%= link_to(I18n.t("configuracoes.index.table_of_contents.pesquisa_local_atendimento"), "configuracoes#pesquisa_local_atendimento_inner") %></a></li>
               <li><a href="#"><%= link_to(I18n.t("configuracoes.index.table_of_contents.pesquisa_forncedor"), "configuracoes#pesquisa_forncedor_inner") %></a></li>
               <li><a href="#"><%= link_to(I18n.t("configuracoes.index.table_of_contents.pesquisa_prestador"), "configuracoes#pesquisa_prestador_inner") %></a></li>
               <li><a href="#"><%= link_to(I18n.t("configuracoes.index.table_of_contents.pesquisa_representante"), "configuracoes#pesquisa_representante_inner") %></a></li>
               <!--<li><a href="#"><%= link_to(I18n.t("configuracoes.index.table_of_contents.manutencao_regioes"), "configuracoes#manutencao_regioes_inner") %></a></li> -->
            </ul>
         </div>
      </div>
   </div>
   
   <!-- Logs -->
   <div class="accordion-group">
      <div class="accordion-heading">
         <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseSeven" onclick="location.href = 'relatorios'"> Logs</a>
      </div>
      <div id="collapseSix" class="accordion-body collapse <%=is_group_active?("logs") %>">
         <div class="accordion-inner">
            <ul>
               <li><a href="#"><%= link_to(I18n.t("logs.index.table_of_contents.economia"), "logs#economia_inner") %></a></li>
               <li><a href="#"><%= link_to(I18n.t("logs.index.table_of_contents.produtos_vencidos"), "logs#produtos_vencidos_inner") %></a></li>
               <li><a href="#"><%= link_to(I18n.t("logs.index.table_of_contents.cotacao"), "logs#cotacao_inner") %></a></li>
               <li><a href="#"><%= link_to(I18n.t("logs.index.table_of_contents.faturamento"), "logs#faturamento_inner") %></a></li>
               <li><a href="#"><%= link_to(I18n.t("logs.index.table_of_contents.top_produtos"), "logs#top_produtos_inner") %></a></li>
               <li><a href="#"><%= link_to(I18n.t("logs.index.table_of_contents.top_fornecedores"), "logs#top_fornecedores_inner") %></a></li>
            </ul>
         </div>
      </div>
   </div>
   
   <!-- Documentos Expirados -->
   <div class="accordion-group">
      <div class="accordion-heading">
         <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseSeven" onclick="location.href = 'relatorios'"> Documentos Expirados</a>
      </div>
      <div id="collapseSix" class="accordion-body collapse <%=is_group_active?("logs") %>">
         <div class="accordion-inner">
            <ul>
               <li><a href="#"><%= link_to(I18n.t("documentos_expirados.index.table_of_contents.economia"), "documentos_expirados#economia_inner") %></a></li>
               <li><a href="#"><%= link_to(I18n.t("documentos_expirados.index.table_of_contents.produtos_vencidos"), "documentos_expirados#produtos_vencidos_inner") %></a></li>
               <li><a href="#"><%= link_to(I18n.t("documentos_expirados.index.table_of_contents.cotacao"), "documentos_expirados#cotacao_inner") %></a></li>
               <li><a href="#"><%= link_to(I18n.t("documentos_expirados.index.table_of_contents.faturamento"), "documentos_expirados#faturamento_inner") %></a></li>
               <li><a href="#"><%= link_to(I18n.t("documentos_expirados.index.table_of_contents.top_produtos"), "documentos_expirados#top_produtos_inner") %></a></li>
               <li><a href="#"><%= link_to(I18n.t("documentos_expirados.index.table_of_contents.top_fornecedores"), "documentos_expirados#top_fornecedores_inner") %></a></li>
            </ul>
         </div>
      </div>
   </div>
   
</div>