<div>

   <!-- GedWeb --> 
   <div class="accordion-group">
      <div class="accordion-heading">
         <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne" onclick="location.href = 'gedweb'">GedWeb</a>
      </div>
      <div id="collapseOne" class="accordion-body collapse <%=is_group_active?("gedweb") %>">
         <div class="accordion-inner">
            <ul>
               <li><a href="#"><%= link_to(I18n.t("gedweb.index.table_of_contents.how_it_works"), "gedweb#how_it_works_inner") %></a></li>
               <li><a href="#"><%= link_to(I18n.t("gedweb.index.table_of_contents.features_yield"), "gedweb#features_yield_inner") %></a></li>
               <li><a href="#"><%= link_to(I18n.t("gedweb.index.table_of_contents.who_uses"), "gedweb#who_uses_inner") %></a></li>
            </ul>
         </div>
      </div>
   </div>
   
   <!-- Entendendo o Sistema -->
   <div class="accordion-group">
      <div class="accordion-heading">
         <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo" onclick="location.href = 'understanding_the_system'">Entendendo o Sistema</a>
      </div>
      <div id="collapseTwo" class="accordion-body collapse <%=is_group_active?("understanding_the_system") %>">
         <div class="accordion-inner">
            <ul>
               <li><a href="#"><%= link_to(I18n.t("understanding_the_system.index.table_of_contents.welcome"), "understanding_the_system#welcome_inner") %></a></li>
               <li><a href="#"><%= link_to(I18n.t("understanding_the_system.index.table_of_contents.flow"), "understanding_the_system#flow_inner") %></a></li>
            </ul>
         </div>
      </div>
   </div>
   
   <!-- Menu Principal -->
   <div class="accordion-group">
      <div class="accordion-heading">
         <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree" onclick="location.href = 'menu_main'"> Menu Principal</a>
      </div>
      <div id="collapseThree" class="accordion-body collapse <%=is_group_active?("menu_main") %>">
         <div class="accordion-inner">
            <ul>
               <li><a href="#"><%= link_to(I18n.t("menu_main.index.table_of_contents.menu_main"), "menu_main#menu_main_inner") %></a></li>
               <li><a href="#"><%= link_to(I18n.t("menu_main.index.table_of_contents.main"), "menu_main#main_inner") %></a></li>
               <li><a href="#"><%= link_to(I18n.t("menu_main.index.table_of_contents.new_document"), "menu_main#new_document_inner") %></a></li>
               <li><a href="#"><%= link_to(I18n.t("menu_main.index.table_of_contents.search_document"), "menu_main#search_document_inner") %></a></li>
               <li><a href="#"><%= link_to(I18n.t("menu_main.index.table_of_contents.config"), "menu_main#config_inner") %></a></li>
               <li><a href="#"><%= link_to(I18n.t("menu_main.index.table_of_contents.logs"), "menu_main#logs_inner") %></a></li>
               <li><a href="#"><%= link_to(I18n.t("menu_main.index.table_of_contents.expired_documents"), "menu_main#expired_documents_inner") %></a></li>
            </ul>
         </div>
      </div>
   </div>
   
   <!-- Principal/Mural -->
   <div class="accordion-group">
      <div class="accordion-heading">
         <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFour"  onclick="location.href = 'principal'"> Principal</a>
      </div>
      <div id="collapseFour" class="accordion-body collapse <%=is_group_active?("principal") %>">
         <div class="accordion-inner">
            <ul>
               <li><a href="#"><%= link_to(I18n.t("principal.index.table_of_contents.principal"), "principal#principal_inner") %></a></li>
            </ul>
         </div>
      </div>
   </div>
   
   <!-- Novo Documento -->
   <div class="accordion-group">
      <div class="accordion-heading">
         <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFive"  onclick="location.href = 'new_document'"> Novo Documento </a>
      </div>
      <div id="collapseFour" class="accordion-body collapse <%=is_group_active?("new_document") %>">
         <div class="accordion-inner">
            <ul>
               <li><a href="#new_document"><%= link_to(I18n.t("new_document.index.table_of_contents.new_document"), "new_document#new_document_inner") %></a></li>
               <li><a href="#step1"><%= link_to(I18n.t("new_document.index.step1.item_2"), "new_document#step1_inner") %></a></li>
               <li><a href="#step2"><%= link_to(I18n.t("new_document.index.step2.item_2"), "new_document#step2_inner") %></a></li>
               <li><a href="#step3"><%= link_to(I18n.t("new_document.index.step3.item_2"), "new_document#step3_inner") %></a></li>
               <li><a href="#step4"><%= link_to(I18n.t("new_document.index.step4.item_2"), "new_document#step4_inner") %></a></li>
               <li><a href="#step5"><%= link_to(I18n.t("new_document.index.step5.item_2"), "new_document#step5_inner") %></a></li>
               <li><a href="#step6"><%= link_to(I18n.t("new_document.index.step6.item_2"), "new_document#step6_inner") %></a></li>
            </ul>
         </div>
      </div>
   </div>
   
   
   <!-- Localizar Documentos -->
   <div class="accordion-group">
      <div class="accordion-heading">
         <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseSix"  onclick="location.href = 'search_document'"> Localizar Documentos</a>
      </div>
      <div id="collapseFive" class="accordion-body collapse <%=is_group_active?("search_document") %>">
         <div class="accordion-inner">
            <ul>
               <li><a href="#"><%= link_to(I18n.t("search_document.index.table_of_contents.search_document"), "search_document#search_document_inner") %></a></li>
               <li><a href="#"><%= link_to(I18n.t("search_document.index.table_of_contents.default"), "search_document#default_inner") %></a></li>
               <li><a href="#"><%= link_to(I18n.t("search_document.index.table_of_contents.custom"), "search_document#custom_inner") %></a></li>
			</ul>
         </div>
      </div>
   </div>
   
   <!-- Configurações -->
   <div class="accordion-group">
      <div class="accordion-heading">
         <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseEight"  onclick="location.href = 'config'"> Configurações</a>
      </div>
      <div id="collapseSeven" class="accordion-body collapse <%=is_group_active?("config") %>">
         <div class="accordion-inner">
            <ul>
               <li><a href="#"><%= link_to(I18n.t("config.index.table_of_contents.config"), "config#config_inner") %></a></li>
               <li><a href="#"><%= link_to(I18n.t("config.index.table_of_contents.models"), "config#models_inner") %></a></li>
               <li><a href="#"><%= link_to(I18n.t("config.index.table_of_contents.types"), "config#types_inner") %></a></li>
               <li><a href="#"><%= link_to(I18n.t("config.index.table_of_contents.groups"), "config#groups_inner") %></a></li>
               <li><a href="#"><%= link_to(I18n.t("config.index.table_of_contents.departaments"), "config#departaments_inner") %></a></li>
               <li><a href="#"><%= link_to(I18n.t("config.index.table_of_contents.providers"), "config#providers_inner") %></a></li>
               <li><a href="#"><%= link_to(I18n.t("config.index.table_of_contents.webservices"), "config#webservices_inner") %></a></li>
            </ul>
         </div>
      </div>
   </div>
   
   <!-- Logs -->
   <div class="accordion-group">
      <div class="accordion-heading">
         <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseSeven" onclick="location.href = 'logs'"> Logs</a>
      </div>
      <div id="collapseSix" class="accordion-body collapse <%=is_group_active?("logs") %>">
         <div class="accordion-inner">
            <ul>
               <li><a href="#"><%= link_to(I18n.t("logs.index.table_of_contents.log"), "logs#log_inner") %></a></li>
               <li><a href="#"><%= link_to(I18n.t("logs.index.table_of_contents.drive"), "logs#drive_inner") %></a></li>
               <li><a href="#"><%= link_to(I18n.t("logs.index.table_of_contents.indexing"), "logs#indexing_inner") %></a></li>
            </ul>
         </div>
      </div>
   </div>
   
   <!-- Documentos Expirados -->
   <div class="accordion-group">
      <div class="accordion-heading">
         <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseSeven" onclick="location.href = 'expired_documents'"> Documentos Expirados</a>
      </div>
      <div id="collapseSix" class="accordion-body collapse <%=is_group_active?("expired_documents") %>">
         <div class="accordion-inner">
            <ul>
               <li><a href="#"><%= link_to(I18n.t("expired_documents.index.table_of_contents.expired_documents"), "expired_documents#expired_documents_inner") %></a></li>
            </ul>
         </div>
      </div>
   </div> 
   
   <!-- Quick Index -->
   <div class="accordion-group">
      <div class="accordion-heading">
         <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseSeven" onclick="location.href = 'quickindex'">QuickIndex</a>
      </div>
      <div id="collapseSix" class="accordion-body collapse <%=is_group_active?("quickindex") %>">
         <div class="accordion-inner">
            <ul>
               <li><a href="#"><%= link_to(I18n.t("quickindex.index.table_of_contents.quickindex"), "quickindex#quickindex_inner") %></a></li>
               <li><a href="#"><%= link_to(I18n.t("quickindex.index.table_of_contents.about"), "quickindex#about_inner") %></a></li>
               <li><a href="#"><%= link_to(I18n.t("quickindex.index.table_of_contents.config"), "quickindex#config_inner") %></a></li>
               <li><a href="#"><%= link_to(I18n.t("quickindex.index.table_of_contents.contasmedicas"), "quickindex#contasmedicas_inner") %></a></li>
               <li><a href="#"><%= link_to(I18n.t("quickindex.index.table_of_contents.smartindex"), "quickindex#smartindex_inner") %></a></li>			   
               <li><a href="#"><%= link_to(I18n.t("quickindex.index.table_of_contents.logs"), "quickindex#logs_inner") %></a></li>
            </ul>
         </div>
      </div>
   </div> 
</div>